<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device, initial-scale">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

    <style>
        body
        {
        background-image:<img src("E:\Video\aeroplane.jpg");
        background-size: cover;
        }
    </style>
    <style>
        h3.big
        {
        line-height: 1.8;
        }

    </style>
</head>
<body style="background-image: url('/aeroplane.jpg'); background-repeat: no-repeat;background-size: cover;background-attachment: fixed;">
<br>
    <div class="container-fluid">
        <div class="navbar" style="justify-content: end;">
            <a href="home.html"><input type="button"  value="Home" style="margin-left:-30%; font-size: large; border-radius: 40px; height: 30px; width: 90px; box-shadow: black 4px 3px 5px 0px;"></a>
            <a href="predict.html"><input type="button" value="Predict" style="margin-left: -20; font-size: large; border-radius: 40px; height: 30px; width: 90px; box-shadow: black 4px 3px 5px 0px;"></a>
        </div>
    </div>

            <center><h1 style="text-transform: uppercase;margin-top:-4%;color: red;">Flight Ticket Booking Price Pridiction</h1></center><br><br><br><br>
<br><br>
        </div>
        <center><h3><h3 style="small; color:white;">The objectives of this article to predict prices given the various parameter. this will be a regression problem since the target or dependent varible is the price
            Now a days the nnumber of people using rights has increased significantly. this can help airlines by predicting what prices they ca maintain.
            It can also help customers to  predict future flight prices and plan their journey accordingly.</h3>

        </h3></center><br>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>